body{
    background-color: beige;
}

h1{
    color: lightgreen;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

form {
    border: 3px solid pink ;
}